body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1245px;
    height:724px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1245px;
    height:724px;
}

.u1 {
    position:absolute;
    left:2px;
    top:354px;
    width:1241px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:125px;
    top:15px;
    width:177px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:301px;
    top:61px;
    width:177px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:400px;
    top:61px;
    width:177px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:497px;
    top:61px;
    width:157px;
    height:27px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:678px;
    top:61px;
    width:117px;
    height:27px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u7_line {
    background-image: url('../消息_files/u7_line.png');
}

.u7_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:619px;
}

.u7 {
    position:absolute;
    left:271px;
    top:111px;
    width:10px;
    height:619px;
    
}

.u8 {
    position:absolute;
    left:170px;
    top:120px;
    width:47px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:170px;
    top:155px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:170px;
    top:189px;
    width:74px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_line {
    background-image: url('../消息_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:0px;
    top:4px;
    width:139px;
    height:3px;
}

.u11 {
    position:absolute;
    left:133px;
    top:227px;
    width:139px;
    height:10px;
    
}

.u12 {
    position:absolute;
    left:170px;
    top:251px;
    width:101px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_line {
    background-image: url('../消息_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:0px;
    top:4px;
    width:23px;
    height:3px;
}

.u13 {
    position:absolute;
    left:131px;
    top:286px;
    width:23px;
    height:10px;
    
}

.u14 {
    position:absolute;
    left:158px;
    top:282px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:170px;
    top:310px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:170px;
    top:337px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:170px;
    top:367px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:170px;
    top:395px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_line {
    background-image: url('../消息_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:0px;
    top:4px;
    width:145px;
    height:3px;
}

.u19 {
    position:absolute;
    left:125px;
    top:449px;
    width:145px;
    height:10px;
    
}

.u20 {
    position:absolute;
    left:170px;
    top:423px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_line {
    background-image: url('../消息_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:0px;
    top:4px;
    width:78px;
    height:3px;
}

.u21 {
    position:absolute;
    left:196px;
    top:286px;
    width:78px;
    height:10px;
    
}

.u22 {
    position:absolute;
    left:170px;
    top:474px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../消息_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:279px;
    top:146px;
    width:71px;
    height:342px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:71px;
    height:342px;
}

.u24 {
    position:absolute;
    left:2px;
    top:163px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:295px;
    top:117px;
    width:177px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:368px;
    top:437px;
    width:177px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:368px;
    top:350px;
    width:177px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:368px;
    top:264px;
    width:177px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:368px;
    top:179px;
    width:177px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_line {
    background-image: url('../消息_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:0px;
    top:4px;
    width:542px;
    height:3px;
}

.u30 {
    position:absolute;
    left:280px;
    top:227px;
    width:542px;
    height:10px;
    
}

.u31_line {
    background-image: url('../消息_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:0px;
    top:4px;
    width:542px;
    height:3px;
}

.u31 {
    position:absolute;
    left:280px;
    top:151px;
    width:542px;
    height:10px;
    
}

.u32_line {
    background-image: url('../消息_files/u32_line.png');
}

.u32_line {
    position:absolute;
    left:0px;
    top:4px;
    width:542px;
    height:3px;
}

.u32 {
    position:absolute;
    left:280px;
    top:488px;
    width:542px;
    height:10px;
    
}

.u33_line {
    background-image: url('../消息_files/u33_line.png');
}

.u33_line {
    position:absolute;
    left:0px;
    top:4px;
    width:542px;
    height:3px;
}

.u33 {
    position:absolute;
    left:280px;
    top:403px;
    width:542px;
    height:10px;
    
}

.u34_line {
    background-image: url('../消息_files/u34_line.png');
}

.u34_line {
    position:absolute;
    left:0px;
    top:4px;
    width:542px;
    height:3px;
}

.u34 {
    position:absolute;
    left:280px;
    top:312px;
    width:542px;
    height:10px;
    
}

